.landing-wrapper{
  min-height: 80dvh;
  width: 100%;
}

.hero-main{
  height: 90vh;
  width: 80%;
  background-color: #F6F5F3;
  position: sticky;
  top: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}



.hero-left h1:first-of-type{
  color: orange;
  letter-spacing: 0.07em;
  font-weight: 800;
  font-size: 1.6em;
}

.des-wrap h1:first-of-type{
  font-weight: 700;
  line-height: 13vh;
  margin-left: -6px;
  letter-spacing: 7px;
  word-break: break-word;
  color: black;
  font-size: clamp(1rem, 0.9601rem + 3.4493vw, 6rem);
  width: 390px;
}

.des-wrap h1:nth-of-type(2){
  font-weight: 700;
  line-height: 13vh;
  margin-left: -6px;
  letter-spacing: 7px;
  word-break: break-word;
  color: black;
  font-size: clamp(1.25rem, 0.9601rem + 5.4493vw, 8.5rem);
}


.hero-left p:first-of-type{
  font-weight: 400;
  color: #797979;
  font-size: 1.5em;
  letter-spacing: 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
}



.hero-left p span{
  color: #000000;
  font-size: 2.2em;
  font-weight: bold;
  letter-spacing: 1px;
}

.hero-left p:nth-of-type(2){
  color: #8D8D8D;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  letter-spacing: 0.07em;
}

.right-wrapper{
  position: relative;
}

.honey{
  filter: drop-shadow(0px 12px 16px rgba(0, 0, 0, 0.45));
}
.notfixed{
  height: 90vh;
  width: 100%;
  background-color: #F6F5F3;
  position: static ;
  top: 90px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  opacity: 0;
}

.hero-shop{
  width: 100%;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.clip-left{
  height: 100%;
  background-color: #2C3538;
  width: 100%;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.clip-left h2{
  font-size: clamp(1rem, 0.9601rem + 3.4493vw, 5.5rem);
  color: #9C9C9C;
  font-weight: 500;
}

.clip-left h1{
  font-size: clamp(1.25rem, 0.9601rem + 4.4493vw, 7.5rem);
  font-weight: 700;
  color: #E8E5DF;
}

.clip-left h2,
.clip-left h1{
  padding-left: 2vw;
}
.clip-right{
  position: absolute;
  width: 70%;
  height: 100%;
  right: 0;
  background: url('../../Assets/backround-filler.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 34% 100%);
  justify-content: center;
  align-items: center;
  display: flex;
}

.shop-btn{
  padding: 20px 50px;
  background-color: #F79E06;
  font-size: 3em;
  color: #484848;
  margin-top: 10vh;
  transition: .30s all ease;
}


.shop-btn:hover,
.shop-btn:focus{
  outline: none;
  box-shadow: 0px 0px 16px 3px #F6C890;
}
.clip{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: orange;
  clip-path: polygon(0 0, 100% 44%, 100% 100%, 0% 100%);
}

.right-wrapper {
  width: 500px;
}

.carousel-parent {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.carousel-wrapper{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  overflow: auto;
    align-items: center;
  scroll-snap-type: x mandatory;
}

.carousel-wrapper::-webkit-scrollbar {
  display: none;
}

.carousel-child {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  scroll-snap-align: center;
  list-style-type: none;
  height: 100%;
}

.honey{
  height: 470px;
  width: 370px;

}
.plogo{
  width: 65px;
  height: 55px;
}

.product-logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-logo h1{
  font-size: 2.5em;
  font-weight: 600;
  color: #000000;
}

.stick-fill {
  width: 100%;
  position: relative;
  height: 25vh;
  margin-top: 50px;
}

.spread-fill {
  width: 100%;
  position: relative;
  top: -70px;
  height: 50vh;
}
.stick-fill img {
  position: absolute;
  right: 0;
}

.spread-fill img {
  position: absolute;
  left: -10vh;
}

.All-Natural{
  color: orange;
  font-size: 50px;
  font-weight: 900;

}

@media screen and (max-width: 1073px) {

  .stick-fill {
    width: 100%;
    position: relative;
    height: 25vh;
    margin-top: 0px;
}

  .hero-shop {
    height: 50vh;
  }

  .right-wrapper {
    width: 100%;
  }

  .honey {
    height: 300px;
    width: 250px;
  }

  .clip-left h1 {
    font-size: clamp(1.25rem, 0.4601rem + 4.5vw, 7.5rem);
  }

  .clip-left h2 {
    font-size: clamp(0.60rem, 0.4601rem + 3.4493vw, 5.5rem);
  }

  .clip {
    position: absolute;
    width: 100%;
    top: 0;
    background-color: #f9a100;
    clip-path: none;
}

.shop-btn{
  padding: 15px;
  background-color: #F79E06;
  font-size: 2rem;
  color: #484848;
  margin-top: 0;
  transition: .30s all ease;
}

  .spread-fill {
    width: 100%;
    position: relative;
    top: 0px;
    height: 60vh;
  }

  .hero-main{
    height: auto;
    width: 100%;
    background-color: #F6F5F3;
    position: static;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column-reverse;
  }

  .hero-left {
    position: absolute;
    z-index: 2;
    top: 35%;
    left: 50%;
    transform: translate(0%, -60%);
    display: flex;
    flex-direction: column;
    gap: 0px;
}

  .honey {
    filter: drop-shadow(0px 12px 10px rgba(0, 0, 0, 0.45));
}

  .hero-left h1:first-of-type{
    color: white;
  }

  .des-wrap h1:first-of-type{
    color: rgb(0, 0, 0);
    line-height: normal;

  }

  .hero-left p:first-of-type{
    color: white;
    font-size: clamp(0.40rem, 0.2601rem + 1.293vw, 4.5rem);
  }
}


@media screen and (max-width: 752px) {

  .shop-btn{
    padding: 10px;
    background-color: #F79E06;
    font-size: 1.5rem;
    color: #484848;
    margin-top: 0;
    transition: .30s all ease;
  }
  .product-logo h1{
    font-size: 1.5rem;
  }

  .hero-left h1:first-of-type {
    font-size: 1.3em;
}

  .des-wrap h1:first-of-type {
    font-size: 1.2em;
    line-height: normal;
    margin: 0;
    width: 180px;
  }

  .des-wrap h1:nth-of-type(2){
    margin: 0;
  }
  
  .plogo {
    width: 65px;
    height: 55px;
}
}


@media screen and (max-width: 462px) {

  .spread-fill img {
    width: 250px;
    height: 200px;
    position: absolute;
    left: -5vh;
}

  .shop-btn{
    padding: 15px;
    background-color: #F79E06;
    font-size: 1.4rem;
    color: #484848;
    margin-top: 0;
    margin-left: 20px;
    transition: .30s all ease;
  }
  .hero-main {
    height: 35vh;
  }

  .right-wrapper{
    height: inherit;
  }

  .hero-left {
    position: absolute;
    z-index: 2;
    top: 37%;
    left: 49%;
    transform: translate(0%, -75%);
    display: flex;
    flex-direction: column;
    gap: 4px;
}

  .carousel-parent{
    width: 45%;
  }
  .stick-fill img {
    width: 250px;
    position: absolute;
    right: 0;
}

  .spread-fill {
    width: 100%;
    position: relative;
    top: 0px;
    height: 27vh;
  }

  .stick-fill {
    width: 100%;
    position: relative;
    top: 0;
    height: 25vh;
    top: 4vh;
}

  .product-logo h1{
    font-size: 0.7rem;
  }

  .honey {
    height: 140px;
  }
}

@media screen and (max-width: 562px) {
  .honey{
    height: 230px;
    width: 166px;
    object-fit: cover;
  }
}

@media all and (max-width:400px){
  .clip-left h1 {
    font-size: clamp(1.25rem, 0.4601rem + 4vw, 7.5rem);
}

.des-wrap h1:first-of-type {
  width: 160px;
}
.honey{
  height: 180px;
  width: 136px;
  object-fit: cover;
}
}

