.category-container {
  display: flex;
  flex-direction: column;
  display: flex;
  width: 90%;
  height: 100%;
  margin-top: 50px;
  transform-style: preserve-3d;
  min-height: 100dvh;
}

.category-button {
  height: 40px;
  width: 100px;
  text-align: center;
}

.category-button.selected {
  border-bottom: 3px solid orange;
}

.category-button.active {
  background-color: #333333;
  color: #ffffff;
}


.category-buttons{
  border-bottom: 2px solid lightgray;
}