.product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  margin: 0 auto;
  justify-content: center;
  width: 100%;
  transform-style: preserve-3d;
}
.swal-footer{
  text-align: center;
}
.hidden-wrp{
  visibility: hidden;
}
.product-card {
  width: 20%;
  display: flex;
  flex-direction: column;
  margin: 0.2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  position: relative;
  /* border: 2px solid #ffc400; */
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s;
  transform-style: preserve-3d;
  transform-origin: center;
}

.product-card:hover{
  transition: 0.3s;
  box-shadow: 0 0 10px #b1b1b1;
}


.infor{
  padding: 15px;
  width: 5px;
  height:5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid lightgray;
  color: lightgray;
  font-weight: bold;
}

.infor:hover{
  border: 2px solid #ffc400;
  color: #ffc400;
}

.flip{
  transform: rotateY(180deg);
}

.front{
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  backface-visibility: hidden;
  z-index: 2;
  justify-content: space-between;
}

.back{
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  z-index: 999;
  overflow: scroll;
  align-items: flex-start;
}

.popup{
  height: 100%;
}

.back p {
  color: black;
  text-align: left;
  font-size: clamp(0.75rem, 0.8023rem + 0.8vw, 4.125rem);
  line-height: 1.5;
  margin-bottom: 20px;
}

.back button{
  width: fit-content;
  font-size: 30px;
}

.back button i {
  transition: 0.3s;
}


.back button:hover i {
  transform: rotate(90deg);
  color: orange;
}

.back::-webkit-scrollbar {
  margin-bottom: 20px;
  width: 5px;
}

.back::-webkit-scrollbar-track {
  background: #f3f3f3;
}

.back::-webkit-scrollbar-thumb {
  background: #ffc400;
  border-radius: 15px;
}

.back::-webkit-scrollbar-thumb:hover {
  background: #f2a34e;
}

.discount {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: grey;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
 font-size: 25px;
}

.image-product{
  margin-top: 35px;
}


.content-product h3 {
  font-size: 18px;
  padding-top: 10px;
  font-weight: 800;
}

.content-product p {
  font-size: 14px;
  color: #666;
  padding-top: 7px;
  font-weight: 600;
}

.content-product h4{
  font-size: 18px;
  padding-top: 10px;
  font-weight: 400;
}

.price {
  display: flex;
  align-items: center;
  /* padding: 10px; */
  background-color: #f5f5f5;

}

.price h3 {
  color: orange;
  font-size: 25px;
  padding-right: 20px;
  font-weight: 900;
}

.price h4 {
  color: #999;
  font-size: 25px;
  text-decoration: line-through;
}

.button-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
}

.button-card button {
  background-color: orange;
  border: none;
  border-radius: 5px;
  padding: 10px 0px;
  font-size: 17px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 100%;
  color: white;
}

.button-card button:hover {
  background-color: darkgoldenrod;
}


.button-card button:focus{
  outline: none;
  border: 1px solid black;
}



.image-product img{
  max-height: 160px;
  margin: 0 auto;
}


/* Media queries for responsive design */

@media screen and (max-width: 1200px) {
.product-card {
  width: 45%;
}

.image-product img{
  max-height: 261px;
}
}

@media screen and (max-width: 768px) {
.product-card {
  width: 100%;
}

.image-product img{
  max-height: 373px;
}
}




