.sticky-header{
  position: sticky;
  top: 0;
  background-color: orange;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: large;
  font-weight: 500;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}
.header-logo{
  width: 100px;
  height: 85px;
}

.logo h1{
  font-size: 30px;
  font-weight: bolder;
  width: 200px;
}

.nav-links{
  display: flex;
  align-items: center;
  width: 630px;
  gap: 50px;
}


.header-icons{
  padding-right: 30px;
}

@media all and (max-width:801px){
  .sticky-header{
    font-size: small;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
  }
  
  .logo h1{
    font-size: 24px;
    font-weight: bolder;
    width: 140px;
  }
  
  .nav-links{
    display: none;
  }
  
  
  .header-icons{
    display: none;
    padding-right: 30px;
  }

  .burger-icon {
    height: 3px;
    width: 20px;
    background-color: black;
    margin-right: 20px;
  }

  .burger-icon::after,
  .burger-icon::before{
    content: '';
    display: block;
    position: absolute;
    background-color: black;
    height: 3px;
    width: 20px;
  }

  .burger-icon::after{
    bottom: 32px;
  }

  .burger-icon::before{
    top: 31px;
  }
}


@media all and (min-width:801px){
  .sticky-header{
    font-size: small;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
  }
  
  .logo h1{
    font-size: 24px;
    font-weight: bolder;
    width: 140px;
  }
  
  .nav-links{
    display: flex;
    align-items: center;
    width: 450px;
    gap: 50px;
  }
  
  
  .header-icons{
    padding-right: 30px;
  }
  .burger-icon {
    display: none;
  }
}



@media all and (min-width:1017px){
  .sticky-header{
    position: sticky;
    top: 0;
    background-color: orange;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    font-weight: 500;
  }
  
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
  }
  .header-logo{
    width: 100px;
    height: 85px;
  }
  
  .logo h1{
    font-size: 30px;
    font-weight: bolder;
    width: 200px;
  }
  
  .nav-links{
    display: flex;
    align-items: center;
    width: 630px;
    gap: 50px;
  }
  
  
  .header-icons{
    padding-right: 30px;
  }
  .burger-icon {
    display: none;
  }
}