footer {
  letter-spacing: 0.27em;
  height: 44dvh;
  background-color: black;
  color: white;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.footer-main {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.footer-main section {
  height: 50%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 70px auto;
}

.footer-main h1 {
  font-size: clamp(0.75rem, 0.3023rem + 1vw, 2.125rem);
  color: #737373;
}

.clmn-1 h1 {
  color: orange;
}

plaintext {
  margin: 0;
}

.icons-wrapper {
  display: flex;
  padding-bottom: 25px;
  gap: 10px;
}

.icn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 27px;
  border-radius: 10px;
  position: relative;
  transition: 0.3s all ease;
  border: 1px solid rgb(255, 255, 255);
}

.icn-wrap i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
  transition: 0.3s all ease;
}

.icn-wrap:hover {
  background-color: orange;
  border: orange;
  outline: none;
}

.icn-wrap:hover i {
  color: black;
}

.footer-main section ul li {
  font-size: clamp(0.5625rem, 0.4618rem + 0.5034vw, 1.5rem);
}

.footer-main section ul li a {
  transition: 0.3s all ease;
}
.footer-main section ul li a:hover {
  color: orange;
  outline: none;
}

.copyright {
  position: absolute;
  bottom: 3%;
  color: rgb(136, 136, 136);
  font-size: small;
  text-align: center;
}

@media all and (max-width: 476px) {
  .footer-main {
    flex-direction: column;
  }

  .footer-main section {
    text-align: center;
  }
  footer {
    height: auto;
    padding: 7vh;
  }

  .icons-wrapper {
    justify-content: center;
  }
  .footer-main h1 {
    font-size: clamp(0.75rem, -1.0833rem + 9.1667vw, 1.4375rem);
    color: #737373;
  }

  .footer-main section {
    grid-template-rows: 40px auto;
  }

  .footer-main section ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .footer-main section ul li {
    font-size: clamp(0.5625rem, -0.7708rem + 6.6667vw, 1.0625rem);
  }

  footer {
    display: flex;
  }
  .copyright {
    position: absolute;
    bottom: 1%;
    color: rgb(136, 136, 136);
    font-size: x-small;
    text-align: center;
    padding: 5%;
  }
}
