.gradient-text {
    background-color: #DC5B51;
  /*             background-image: linear-gradient( 45deg, #DC5B51 16.666%, #DFB79E 16.666%, #DFB79E 33.333%, #DC5B51 33.333%, #DC5B51 50%, #DFB79E 50%, #DFB79E 66.666%, #DC5B51 66.666%, #DC5B51 83.333%, #DFB79E 83.333%); */
  background-image: linear-gradient( 40deg, #FCB900 16.666%, #d8a008 16.666%, #ffca38 33.333%, #b88c13 33.333%, #3f3b2e 50%, #FCB900 50%, #423719 66.666%, #FCB900 66.666%, #FCB900 83.333%, #FCB900 83.333%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: text-animation-r 0.75s ease forwards;
  }
  
  .gradient-text:hover {
    animation: text-animation 0.5s ease-in forwards;
  }
  
  @keyframes text-animation-r {
    0% {
        background-size: 650%;
    }
    40% {
        background-size: 650%;
    }
    100% {
        background-size: 100%;
    }
  }
  
  @keyframes text-animation {
    0% {
        background-size: 100%;
    }
    80% {
        background-size: 650%;
    }
    100% {
        background-size: 650%;
    }
  }
  
  
  
  .center {
    
    margin-top: calc(70vh - 3em);
  }
  
  .text-h1 {
    font-family: "Archivo Black", sans-serif;
    font-weight: normal;
    font-size: 6em;
    text-align: center;
    margin-bottom: -0.25em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    width: 605px;
  }
  .text-h2 {
    margin-top: 3%;
    font-family: "Archivo Black", sans-serif;
    font-weight: normal;
    text-decoration: none;
    font-size: 1em;
    text-align: center;
    margin-bottom: -0.25em;
    color: black;
  
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    width: 605px;
  }
  .text-h2:visited{
    text-decoration: none;
    color: black;
  
  }