#root{
  display: grid;
  grid-template-rows: 90px auto;
  min-height: 100dvh;
}

.main{
  grid-row: 2;
  display: flex;
  justify-content: center;
 
  flex-direction: column;
  min-height: 100dvh;
 
  background-color: #F6F5F3;
}