.log-popup{
  inset: 0;
  width: 100%;
  height: 90dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

@keyframes pop {
  0%{
    transform: scale(0.1);
  }

  10%{
    opacity: 1;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}


.forms-wrapper{
  overflow: hidden;
  position: relative;
  max-width: 600px;
  min-height: 52vh;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 25px 50px rgb(86 86 86 / 20%);
  gap: 20px;
  margin-top: 10vh;
  animation: pop 0.3s ease;
  transform: scale(1);
  opacity: 1;
}

.log-header{
  position: relative;
  height: 15vh;
  width: 200%;
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.log-header-left{
  transition: 0.3s all ease;
  position: relative;
  height: 15vh;
  width: 200%;
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  margin-left: -100%;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


.indicator-title{
  font-size: 30px;
  font-weight: bold;
  width: 50%;
  flex-shrink: 0;
  text-align: center;
}

.log-body{
  display: flex;
  /* transition: 0.30s all ease; */
  transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  width: 100%;
  transform: translate(0%);  
}

.log-body-left{
  display: flex;
  /* transition: 0.30s all ease; */
  transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  width: 100%;
  transform: translate(-100%);  
}
.child{
  position: relative;
  width: 100%;
  flex-shrink: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.map{
  width: 75%;
  height: 6vh;
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  display: flex;
  border: 1px solid lightgray;
}

.map-left{
  width: 75%;
  height: 6vh;
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  display: flex;
  border: 1px solid lightgray;
}

.map .depending{
  display: block;
  position: absolute;
  content: '';
  background-color: orange;
  z-index: 1;
  width: 50%;
  height: 100%;
  /* transition: 0.3s all ease; */
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  left: 0;
}

.map-left .depending{
  display: block;
  position: absolute;
  content: '';
  background-color: orange;
  z-index: 1;
  width: 50%;
  height: 100%;
  /* transition: .3s all ease; */
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);

  transform: translateX(100%);
}

.destination-1,
.destination-2{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  position: relative;
  z-index: 3;
  font-size: 20px;
}


.guid{
  margin: 0 auto;
  padding: 10px;
}

.guid button{
  border: 1px solid lightgray;
  margin: 0 auto;
  padding: 5px 30px;
  border-radius: 7px;
  transition: 0.1s all ease;
  color: #909090;
}

.guid button:hover{
  color: orange;
  border: 1px solid orange;
}

/*inputs stuff*//*inputs stuff*//*inputs stuff*//*inputs stuff*//*inputs stuff*//*inputs stuff*/ 
.user-input-wrp {
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
}

.user-input-wrp .inputText{
	padding: 15px 20px;
  outline: none;
  font-size: 1.25em;
  border-radius: 5px;
  caret-color: black;
  width: 90%;
  border: 1px solid lightgray;
  color: rgb(155, 155, 155);
}


.user-input-wrp .inputText:focus{
	border: 2px solid rgb(252, 185, 0);
  caret-color: rgb(252, 185, 0);
  color: rgb(252, 185, 0);
}
.user-input-wrp .floating-label {
	position: absolute;
	pointer-events: none;
  top:50%;
  left: 30px;
  transform: translateY(-50%);
  font-size: 16px;
  color: rgb(155, 155, 155);
  pointer-events: none;
  transition: .2s;
  background-color: white;
  padding: 3px;
  line-height: 3px
}

.user-input-wrp input:focus ~ .floating-label {
  color: rgb(252, 185, 0);
}
.user-input-wrp input:focus ~ .floating-label,
.user-input-wrp input:not(:focus):valid ~ .floating-label{
	top: -1px;
  font-size: smaller;
}


input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 100px #fff inset;
  -webkit-text-fill-color: rgb(0, 0, 0);
  transition: background-color 5000s ease-in-out 0s;
}

.user-input-wrp input:-webkit-autofill ~ .floating-label,
.user-input-wrp input:not(:focus):valid ~ .floating-label {
  top: -1px;
  font-size: smaller;
  background-color: #fff;
  padding: 3px;
  line-height: 3px;
}

.user-input-wrp input:-webkit-autofill:focus {
  border: 2px solid rgb(252, 185, 0);
  caret-color: rgb(252, 185, 0);
  color: rgb(252, 185, 0);
}


.login-button {
  border: none;
  outline: none;
  background: rgb(155, 155, 155);
  cursor: pointer;
  color: white;
  box-shadow: none;
  padding: 15px 20px;
  font-size: 1em;
  font-weight: bold;
  width: 54%;
  border-radius: 5px;
  margin: 0 auto;
  transition: .20s;
}

.login-button:hover{
  background-color: orange;
  transform: translateY(-3px); /* Move the button 5px up */
  box-shadow: 0px 5px 10px rgba(44, 44, 44, 0.2);
}


.shake{
  animation: shake .2s 2;
}

@keyframes shake {
  25%{
    border: 1px solid red;
    transform: translateX(6px);
  }

  50%{
    border: 1px solid red;
    transform: translateX(-6px);
  }

  75%{
    border: 1px solid red;
    transform: translateX(6px);
  }
}

.error-hndl{
  color: red;
  z-index: 1;
  top: 10px;
  position: absolute;
}

.rgst-hndl{
  color: red;
}