* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.about-us {
  height: 125vh;
  width: 100%;
  padding: 90px 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/home/hasan/Desktop/Real_client_frontend/src/Assets/top-view-honey-with-honeycomb-pieces.jpg");
}
.pic {
  height: auto;
  width: 302px;
  image-rendering: multiply;
  filter: blur(0px);
}
.about {
  width: 1130px;
  max-width: 85%;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text {
  width: 540px;
}
.text h2 {
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 10px;
}
.text h5 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}
aboutspan {
  color: #b9e200;
}
.text p {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
}
.data {
  margin-top: 30px;
}
.aboutbutton {
  font-size: 18px;
  background: #ffa500;
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 8px 25px;
  border-radius: 6px;
  transition: 0.7s;
}
.aboutbutton:hover {
  background: #4d1902f8;
  border: none;
}
@media only screen and (max-width: 767px) {
  .about {
    flex-direction: column;
    justify-content: center;
  }

  .pic {
    margin-bottom: 2em;
  }

  .text h2 {
    font-size: 4rem;
  }

  .text h5 {
    font-size: 1.25rem;
  }

  .text p {
    font-size: 0.9rem;
    line-height: 1.5;
  }

  .aboutbutton {
    font-size: 0.9rem;
    padding: 0.8em 2em;
  }
}
